body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fddde6;
}

header, footer {
    background-color: #e11584;
    color: #432616;
    padding: 80px;
    text-align: center;
}
header h1 {
    font-size: 36px;
    margin-top: 10px;
}

#about {
    padding: 40px 0;
    text-align: center;
    background-color: #fd5da8;
    color: #fff;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-content img {
    width: 400px;
    height: 450px;
    border-radius: 50%;
    margin-right: 40px;
}

.bio {
    flex: 1;
}

#skills {
    padding: 100px 0;
    text-align: center;
    background-color: #f699cd;
}

#skills ul {
    list-style: none;
    padding: 10px;
}

#skills li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

#projects {
    padding: 40px 0;
    text-align: center;
    background-color: #fec5e5;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

.project-details {
    margin-left: 20px;
    text-align: left;
}

#resume, #contact {
    padding: 80px 0;
    text-align: center;
    background-color: #fddde6;
}

footer {
    font-size: 14px;
    margin-top: 40px;
    text-align: center;
    background-color: #e11584;
    color: #fff;
    padding: 20px;
}
